{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangerPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	    rel="stylesheet"
	    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	    crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'managers/css/index.css' %}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
        rel='stylesheet'>
</head>
<body>
    {% include 'managers/sidebar.html' %}
	<section class="home">
		<div class="text">Sửa chuyến xe</div>
		<div class="content">
            <form action="../edittrip/{{trip.id}}" method="POST">
            {% csrf_token %}
            Nơi khởi hành:<br>
            <input name="departure" placeholder="{{trip.departure}}"><br>
            Nơi đến:<br>
            <input name="destination" placeholder="{{trip.destination}}"><br>
            Thời gian khởi hành: {{trip.departure_time}}<br>
            <input type="datetime-local" id="departure_time" name="departure_time"><br>
            Giá xe:<br>
            <input name="price" placeholder="{{trip.price}}"><br>
            Số ghế:<br>
            <input name="num_seat" placeholder="{{trip.num_seat}}"><br>
            <div class="area-feat">
                <input type="submit" value="Sửa thông tin">
            </div>
            <input name="garage_id" value="1" type="hidden">
            </form>
		</div> 
	</section>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
	<script>
        const body = document.querySelector('body'),
	    sidebar = body.querySelector('nav'),
	    toggle = body.querySelector(".toggle"),
	    searchBtn = body.querySelector(".search-box"),
	    modeSwitch = body.querySelector(".toggle-switch"),
	    modeText = body.querySelector(".mode-text");


		toggle.addEventListener("click" , () =>{
		    sidebar.classList.toggle("close");
		})
		
		searchBtn.addEventListener("click" , () =>{
		    sidebar.classList.remove("close");
		})
		
		modeSwitch.addEventListener("click" , () =>{
		    body.classList.toggle("dark");
		    
		    if(body.classList.contains("dark")){
		        modeText.innerText = "Light mode";
		    }else{
		        modeText.innerText = "Dark mode";
		        
		    }
		});
    </script>
    <script type="text/javascript" src="lib.js"></script>
    <script type="text/javascript">
    	function testConfirmDialog(maso_monhoc) {
    		var result = confirm("Bạn chắc chắn muốn xóa môn học này?");
    		
    		if (result) {
    			window.location.href = "deleteMonHoc?maso_monhoc=" + maso_monhoc;
    		} else {
    			return false;
    		}
    	};
    	function Search() {
    		let searchContent = document.getElementById("searchContent").value;
    		
    		if (searchContent != null) {
    			window.location.href = "searchListMonHoc?searchContent=" + searchContent;
    		}
    	};
    </script>
</body>
</html>