{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangerPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	    rel="stylesheet"
	    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	    crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'managers/css/index.css' %}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
        rel='stylesheet'>
</head>
<body>
    {% include 'managers/sidebar.html' %}
    
	<section class="home">
		<div class="text">Thông tin nhà xe</div>
		<div class="content">
			<table class="table table-striped table-hover">
				<thead>
				    <tr>
				      <th scope="col">Tên nhà xe</th>
				      <th scope="col">Mô tả</th>
				      <th scope="col">Địa chỉ</th>
                      <th scope="col">Thao tác</th>
				    </tr>
		  		</thead>
			  	<tbody>
					<tr>
						<th scope="col">{{ garage.fullName }}</th>
						<th scope="col">{{ garage.description }}</th>
						<th scope="col">{{ garage.address }}</th>
						<th>
							<a href="manager/edit/garage/">Cập nhật</a>
						</th>
					  </tr>
			  	</tbody>
			</table>
		</div>
		<div class="text">Danh sách lịch trình</div>
		<div class="area-feat">
			<a class="btn btn-success" href="/manager/add/schedule/">Thêm lịch trình</a>
		</div>
		<div class="content">
			<table class="table table-striped table-hover">
				<thead>
				    <tr>
				      <th scope="col">Mã nơi dừng chân</th>
                      <th scope="col">Nơi dừng chân</th>
                      <th scope="col">Điểm gần với</th>
				      <th>Xóa</th>
				    </tr>
		  		</thead>
            {% for x in listSchedules %}
            	<tbody>
					<tr>
						<th scope="col">{{ x.id }}</th>
						<th scope="col">{{ x.musty }}</th>
						{% if x.status == 0 %}
						<th scope="col">{{ trip.destination }}</th>
                		{% endif %}
						{% if x.status == 1 %}
						<th scope="col">{{ trip.departure }}</th>
                		{% endif %}
						<th>
							<a href="manager/delete/schedule/{{ x.id }}">Xóa</a>
						</th>
			  	</tbody>
            {% endfor %}
		</table>
        </div>  
		<div class="text">Danh Sách Chuyến Xe</div>
		<div class="area-feat">
			<a class="btn btn-success" href="manager/add/">Thêm chyến xe</a>
		</div>
		<div class="content">
			<div style="width: 50%;" class="d-flex">
        		<input id="searchContent" class="form-control me-1" type="search" placeholder="Nhập thông tin" aria-label="Search">
        		<a onclick="Search();" class="btn btn-primary" type="submit">Search</a>
      		</div>
			<br>
			<table class="table table-striped table-hover">
				<thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Mã chuyến</th>
				      <th scope="col">Điểm khởi hành</th>
				      <th scope="col">Điểm đến</th>
                      <th scope="col">Thời gian khởi hành</th>
                      <th scope="col">Số ghế</th>
                      <th scope="col">Giá</th>
                      <th scope="col">Xem</th>
				      <th>Cập nhật</th>
				      <th>Xóa</th>
				    </tr>
		  		</thead>
			  	<tbody>
					{% for x in listTrips %}
					<tr>
						<th scope="col">{{ x.id }}</th>
						<th scope="col">{{ x.id }}</th>
						<th scope="col">{{ x.departure }}</th>
						<th scope="col">{{ x.destination }}</th>
						<th scope="col">{{ x.departure_time }}</th>
						<th scope="col">{{ x.num_seat }}</th>
						<th scope="col">{{ x.price }}đ</th>
						<th scope="col">
							<a href="manager/view/trip/{{ x.id }}">Xem</a>
						</th>
						<th>
							<a href="manager/edit/trip/{{ x.id }}">Cập nhật</a>
						</th>
						<th>
							<a href="manager/delete/trip/{{ x.id }}">Xóa</a>
						</th>
					  </tr>
					{% endfor %}
			  	</tbody>
			</table>
		</div> 
	</section>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
	<script>
        const body = document.querySelector('body'),
	    sidebar = body.querySelector('nav'),
	    toggle = body.querySelector(".toggle"),
	    searchBtn = body.querySelector(".search-box"),
	    modeSwitch = body.querySelector(".toggle-switch"),
	    modeText = body.querySelector(".mode-text");


		toggle.addEventListener("click" , () =>{
		    sidebar.classList.toggle("close");
		})
		
		searchBtn.addEventListener("click" , () =>{
		    sidebar.classList.remove("close");
		})
		
		modeSwitch.addEventListener("click" , () =>{
		    body.classList.toggle("dark");
		    
		    if(body.classList.contains("dark")){
		        modeText.innerText = "Light mode";
		    }else{
		        modeText.innerText = "Dark mode";
		        
		    }
		});
    </script>
    <script type="text/javascript" src="lib.js"></script>
    <script type="text/javascript">
    	function testConfirmDialog(maso_monhoc) {
    		var result = confirm("Bạn chắc chắn muốn xóa môn học này?");
    		
    		if (result) {
    			window.location.href = "deleteMonHoc?maso_monhoc=" + maso_monhoc;
    		} else {
    			return false;
    		}
    	};
    	function Search() {
    		let searchContent = document.getElementById("searchContent").value;
    		
    		if (searchContent != null) {
    			window.location.href = "searchListMonHoc?searchContent=" + searchContent;
    		}
    	};
    </script>
</body>
</html>