{% load static %}
<footer>
    <div class="footer__content">
      <div class="row row1">
        <div class="col-3">
          <ul>
            <li>
              <a href="#">
                <h4>Hãng xe khách</h4>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Xe Cô Tô Limousine
                </p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Xe Daily Limousine</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Xe Dream Transport</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Xe G5Car</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Xe HAV Limousine</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Xe Hoa Mai</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <ul>
            <li>
              <a href="#">
                <h4>Bến xe khách</h4>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Bến xe Miền Đông</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Bến xe Miền Tây</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Bến xe An Sương</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Bến xe Mỹ Đình</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Bến xe Nước Ngầm</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Bến xe Tam Bạc</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <ul>
            <li>
              <a href="#">
                <h4>Hỗ trợ </h4>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Hướng dẫn thanh toán</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Quy chế VeXeRe.com</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Những câu hỏi thường gặp</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Phần mềm hãng xe</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Đặt vé xe khách trực tuyến</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3 text-right">
          <div class="dropup">
            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-globe-europe"></i> English
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">English</a>
              <a class="dropdown-item" href="#">Deutsch</a>
              <a class="dropdown-item" href="#">Español</a>
              <a class="dropdown-item" href="#">Français</a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <div class="footer__bottom__content row">
          <div class="col-md-6 col-ml-12">
            <img src="{% static 'customers/images/logo1.png' %}" alt="">
            <span>
              Bản quyền © 2020 thuộc về VeXeRe.Com</span>
          </div>
          <div class="col-md-6 col-ml-12 text">
            <ul>
              <li>
                <a href="#">
                  <p>Terms</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <p> Policy</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <p>and</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <p>Terms</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <p>Policy</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

  </footer>