<tr class="coach-row">
    <td class="seat {{ data.list_seat.0.id }} {{ data.list_seat.0.number_chair }} {% if data.list_seat.0.status == '1' %}ArHJS{% else %}K20TTDL{% endif %} {% if data.list_seat.0.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.0.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 iaQDbI seat-container" data-disabled="true" disabled=""
            color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.1.id }} {{ data.list_seat.1.number_chair }} {% if data.list_seat.1.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.1.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 buebkj seat-container" data-disabled="true" disabled=""></div>
    </td>
    <td class="seat {{ data.list_seat.2.id }} {{ data.list_seat.2.number_chair }} {% if data.list_seat.2.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.2.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.3.id }} {{ data.list_seat.3.number_chair }} {% if data.list_seat.3.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.3.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 buebkj seat-container" data-disabled="true" disabled=""></div>
    </td>
    <td class="seat {{ data.list_seat.4.id }} {{ data.list_seat.4.number_chair }} {% if data.list_seat.4.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.4.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.5.id }} {{ data.list_seat.5.number_chair }} {% if data.list_seat.5.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.5.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
</tr>
<tr class="coach-row">
    <td class="seat {{ data.list_seat.6.id }} {{ data.list_seat.6.number_chair }} {% if data.list_seat.6.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.6.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 iaQDbI seat-container" data-disabled="true" disabled=""
            color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.7.id }} {{ data.list_seat.7.number_chair }} {% if data.list_seat.7.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.7.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 buebkj seat-container" data-disabled="true" disabled=""></div>
    </td>
    <td class="seat {{ data.list_seat.8.id }} {{ data.list_seat.8.number_chair }} {% if data.list_seat.8.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.8.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.9.id }} {{ data.list_seat.9.number_chair }} {% if data.list_seat.9.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.9.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 buebkj seat-container" data-disabled="true" disabled=""></div>
    </td>
    <td class="seat {{ data.list_seat.10.id }} {{ data.list_seat.10.number_chair }} {% if data.list_seat.10.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.10.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.11.id }} {{ data.list_seat.11.number_chair }} {% if data.list_seat.11.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.11.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
</tr>
<tr class="coach-row">
    <td class="seat {{ data.list_seat.12.id }} {{ data.list_seat.12.number_chair }} {% if data.list_seat.12.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.12.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 iaQDbI seat-container" data-disabled="true" disabled=""
            color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.13.id }} {{ data.list_seat.13.number_chair }} {% if data.list_seat.13.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.13.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 buebkj seat-container" data-disabled="true" disabled=""></div>
    </td>
    <td class="seat {{ data.list_seat.14.id }} {{ data.list_seat.14.number_chair }} {% if data.list_seat.14.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.14.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.15.id }} {{ data.list_seat.15.number_chair }} {% if data.list_seat.15.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.15.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 buebkj seat-container" data-disabled="true" disabled=""></div>
    </td>
    <td class="seat {{ data.list_seat.16.id }} {{ data.list_seat.16.number_chair }} {% if data.list_seat.16.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.16.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.17.id }} {{ data.list_seat.17.number_chair }} {% if data.list_seat.17.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.17.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
</tr>
<tr class="coach-row">
    <td class="seat {{ data.list_seat.18.id }} {{ data.list_seat.18.number_chair }} {% if data.list_seat.18.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.18.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 iaQDbI seat-container" data-disabled="true" disabled=""
            color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.19.id }} {{ data.list_seat.19.number_chair }} {% if data.list_seat.19.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.19.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 buebkj seat-container" data-disabled="true" disabled=""></div>
    </td>
    <td class="seat {{ data.list_seat.20.id }} {{ data.list_seat.20.number_chair }} {% if data.list_seat.20.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.20.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.21.id }} {{ data.list_seat.21.number_chair }} {% if data.list_seat.21.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.21.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="">
        <div class="Seat__SeatContainer-sc-6hr0u8-0 buebkj seat-container" data-disabled="true" disabled=""></div>
    </td>
    <td class="seat {{ data.list_seat.22.id }} {{ data.list_seat.22.number_chair }} {% if data.list_seat.22.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.22.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
    <td class="seat {{ data.list_seat.23.id }} {{ data.list_seat.23.number_chair }} {% if data.list_seat.23.status == '1' %}ArHJS{% else %}K20TTDL{% endif %}" onclick="clickSeatFunction('{{ data.list_seat.23.id }}')">
        <div class="Seat__SeatContainer-sc-6hr0u8-0  seat-container" data-disabled="true" disabled="" color="#b8b8b8">
            <svg width="32" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="width: 27px; height: 40px">
                <rect x="2.75" y="2.75" width="22.5" height="34.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="5.75" y="27.75" width="16.5" height="6.5" rx="2.25" fill="#FFF" stroke="#B8B8B8"
                    stroke-width="1.5" stroke-linejoin="round"></rect>
                <path class="icon-selected"
                    d="M14 8.333A6.67 6.67 0 0 0 7.333 15 6.67 6.67 0 0 0 14 21.667 6.67 6.67 0 0 0 20.667 15 6.669 6.669 0 0 0 14 8.333zm-1.333 10L9.334 15l.94-.94 2.393 2.387 5.06-5.06.94.946-6 6z"
                    fill="transparent"></path>
                <path class="icon-disabled"
                    d="M18.96 11.46l-1.42-1.42L14 13.59l-3.54-3.55-1.42 1.42L12.59 15l-3.55 3.54 1.42 1.42L14 16.41l3.54 3.55 1.42-1.42L15.41 15l3.55-3.54z"
                    fill="transparent"></path>
            </svg>
        </div>
    </td>
</tr>
