<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="http://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <a href="" class="brand-logo">Django</a>
      </div>
    </nav>
    <div class="container login-f">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card-panel teal">
            <span class="white-text"
              >Thank you very much! We have sent you a notify email.
              <br />
              <br />
              VEXEONLINE
            </span>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">© 2022 Copyright PLC</div>
      </div>
    </footer>
  </body>
</html>
